.restaurants {
  height: auto;
  margin-bottom: $spacing-md;
  padding: $spacing-sm;

  .restaurant-result {
    background: rgba($textColorLight, 0.5);
    border: 1px solid rgba(darken($textColorLight, 25%), 0.25);
    border-radius: 0.3rem;
    padding: $spacing-xs;
    margin-bottom: $spacing-md;

    .restaurant-count {
      font-weight: bold;
    }
  }
}

.restaurants-list {
  display: grid;
  grid-row-gap: 3rem;
  grid-column-gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(26.2rem, 1fr));
}

.restaurants-list__item {
  background: rgba($textColorLight, 0.65);
  border: 1px solid rgba($textColorDark, 0.25);
  border-radius: $spacing-lg 0 $spacing-lg 0;
  box-shadow: 0 0 1rem rgba($textColorDark, 0.5);
  display: flex;
  flex-direction: column;
  min-height: 30rem;
  position: relative;

  .image__container {
    min-height: 20rem;
  }

  .restaurant-item__info {
    background: $textColorLight;
    border-top: 1px solid rgba($textColorDark, 0.75);
    border-radius: 0 0 $spacing-lg 0;
    color: $textColorDark;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    padding: $spacing-xs $spacing-sm;
  }

  .restaurant-item__title {
    color: $textColorDark;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
  }

  .star-rating__container {
    color: lighten($textColorDark, 20%);
    flex: 0 1 $spacing-lg;
    margin: 0 auto;
  }

  .restaurant-item___address,
  .restaurant-item__neighborhood {
    color: darken($textColorLight, 65%);
    font-size: 1.6rem;
  }

  .restaurant-item__review {
    display: block;
    font-size: 1.6rem;
    font-weight: normal;
  }

  .restaurant-item__detail-link {
    background: $secondaryDark;
    border: 1px solid rgba(darken($secondaryDark, 50%), 0.25);
    border-radius: 0.3rem;
    color: lighten($textColorLight, 50%);
    display: block;
    margin: $spacing-md auto $spacing-xs auto;
    padding: $spacing-xs;
    text-align: center;
    transition: all 0.3s ease;
    width: 50%;
  }

  .restaurant-item__detail-link:focus,
  .restaurant-item__detail-link:active,
  .restaurant-item__detail-link:hover {
    background: $secondaryLight;
    box-shadow: 0 0 $spacing-sm rgba($textColorDark, 0.9);
    outline: none;
  }
}

.image__container {
  border-radius: $spacing-lg 0 0 0;
  min-height: 10rem;
  margin: 0;
  padding: 0;
  position: relative;
  min-width: 100%;

  .restaurant-item__image {
    border-top-left-radius: $spacing-lg;
    display: block;
    max-width: 100%;
    min-width: 100%;
  }
}
