.restaurant__map-container {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  height: auto;
  max-width: 100%;

  .restaurant__map {
    background-color: transparent;
    border: 1px inset rgba($textColorDark, 0.25);
    border-bottom: 0;
    flex: 1 0 auto;
    height: auto;
    min-height: 12.5rem;
    opacity: 1;
    position: relative;
    transition: opacity 1s ease;
    width: 100%;

    .restaurant__map-loading {
      color: rgba($textColorDark, 0.85);
      display: block;
      font-weight: bold;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
