.restaurant__reviews-container {
  padding: $spacing-xs;
}

.restaurant__reviews {
  .restaurant__review {
    border: 1px solid rgba($textColorDark, 0.25);
    border-radius: $spacing-xs;
    margin-bottom: 2rem;
  
    .review__top {
      background: $textColorDark;
      border-radius: $spacing-xs $spacing-xs 0 0;
      color: $textColorLight;
      padding: $spacing-xs;
  
      .review__username {
        display: inline-block;
        text-transform: uppercase;
        font-size: $spacing-md;
      }
  
      .star-rating {
        float: right;
        margin: 0;
        padding: 0;
      }
    }
  
    .review__body {
      padding: $spacing-xs;
    }
  
    .review__date {
      color: lighten($textColorDark, 25%);
      font-style: italic;
    }
  
    .review__comment {
      margin: $spacing-xs 0;
    }
  }

  @media screen and (min-width: $breakpoint-lg) {
    display: flex;

    .restaurant__review {
      flex: 1 1 0;
      width: calc((100% * 0.3333333) - $spacing-md*2);
      
      &:nth-child(3n+2) {
        margin-left: $spacing-md;
        margin-right: $spacing-md;
      }
    }
  }
}