@import "~leaflet/dist/leaflet.css";
@import './variables';
@import './normalize';
@import './structure';
@import './components/spinner';
@import './components/star-rating';

@import './home';
@import './restaurant';